<!DOCTYPE html>
<html>
  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>styles.css</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <body>
    <div class="page left">
      <div class="page-number">1.</div>
      <div class="page-content">
        <!-- Slugline and action set the stage -->
        <div class="slugline">Evanston Firehouse</div>
        <div class="action">
          The fire truck pulls in, lights flashing silently. An air of defeat
          hangs over the firefighters.
        </div>
        <!-- Character and dialogue go back and fourth like this -->
        <div class="character">{{data.agent_1_name}}</div>
        <!-- Parenthetical is someone that talks to himself/herself in some way -->
        <div class="parenthetical">( to him/herself )</div>
        <div class="dialog">
          {{data.what_sentence_agent_1}}. {{data.why_sentence_agent_1}}.
        </div>
        <!-- Character and dialogue are back and fourth like this -->
        <div class="character">{{data.agent_2_name}}</div>
        <div class="dialog">{{data.what_sentence_agent_2}}. {{data.why_sentence_agent_2}}.</div>
        <div class="slugline">
          Ext. {{data.agent_1_name}} and {{data.agent_2_name}}. The onlookers
          return to their stations.
        </div>
      </div>
    </div>
    <div class="page right">
      <div class="landing-content">
        <h1 class="slugline">Comedy Tonight Script Generator</h1>
        <p class="description-paragraph">Developed by (names here)</p>
        <div style="display: inline">
          <button class="button">Generate</button>
          <button class="button">Reset</button>
        </div>
      </div>
    </div>
  </body>
</html>
